<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<h2>INFORMATION booth</h2>
<div>
    <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Action</th>
        </tr>


        {{#each data as |info|}}
        <tr>
            <th>ID</th>
            <th>{{info.fname}}</th>
            <th>{{info.lname}}</th>
            <th>{{info.age}}</th>
            <th>{{info.email}}</th>
            <th>Action</th>
        </tr>
        {{/each}}
       
    </table>
</div>